<header class="wrapper">
    <div class="logo-txt">
        <p>MARTINA CAVALERI PHOTOGRAPHER</p>
    </div>
    <div class="social-media-container" ngbDropdown>
        <div class="expand-icon icon" id="dropdownBasic1" ngbDropdownToggle></div>
        <!-- <ul ngbDropdownMenu aria-labelledby="dropdownBasic1"> -->
        <ul>
            <li class="icon whatsapp">
                <a href="https://wa.me/34610959560" target="_blank">
                    <img src="../../../assets/icons/whatsapp.png" alt="">
                </a>
            </li>
            <!-- <li class="icon instagram" ngbDropdownItem> -->
            <li class="icon instagram">
                <a href="https://www.instagram.com/martinaboogie" target="_blank">
                    <img src="../../../assets/icons/instagram.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</header>