.wrapper{
    display: flex;
    background-color: #f5f5dc;

    .body{
        display: flex;
        justify-content: center;     
        width: 96vw;
        img{
            height: 100vh;
        }
    }
}